@keyframes Scale {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes UnScale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.on-modal-enter {
    animation-name: Scale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.on-modal-leave {
    animation-name: UnScale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}