@import './variables';
@import './animation';

.day-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    li {
        width: calc(14% - 10px);
        text-align: center;
        padding: 10px 5px;
        font-weight: bold;
    }
}

.datepicker-overlay, .rangepicker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    opacity: 0.3;
}

.date-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
}

ul {
    padding: 0;
}



.modal-container {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        opacity: 0.3;
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }
}



.modal {
    position: absolute;
    width: 100%;
    top: 100%;
    left: initial;
    bottom: initial;
    right: 0;
    border-radius: 6px;
    overflow-x: hidden;
    z-index: 99;
    box-shadow: 0 19px 38px rgba(#292929, 0.3), 0 15px 12px rgba(#292929, 0.2);
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        background: inherit;
        position: absolute;
        top: 0;
        right: 25px;
        transform: rotate(45deg) translateY(-50%);
    }
    &.has-header {
        .modal-content {
            height: calc(100vh - 70px);
            overflow-y: scroll;
        }
    }
    &.on-leave {
        @extend .on-modal-leave;
    }
    &.on-enter {
        @extend .on-modal-enter;
    }

    @media only screen and (max-width: $mobile) {
        display: flex;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        z-index: 99;
        border-radius: 0px;
    }        
    .modal-header {
        position: relative;
        border-bottom: solid 1px $grey5;
        height: 70px;
        display: none;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
        @media only screen and (max-width: $mobile) {
            display: block;
        }
        h2 {
            text-align: center;
        }
        i {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: $primary;
            font-size: 32px;
        }
    }
    .modal-content {
        .content-header {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;
            & > * {
                color: $primary;
            }
            i {
                font-size: 26px;
            }
            label {
                line-height: 26px;
                text-transform: capitalize;
                font-size: 22px;
            }
        }
    }
    .modal-footer {
        position: relative;
        height: 70px;
        display: none;
        justify-content: center;
        align-items: center;
        border-top: solid 1px $grey5;
        -webkit-box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.1);
        box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.1);
        @media only screen and (max-width: $mobile) {
            display: flex;
        }
        button {
            text-align: center;
            background: $primary;
            min-width: 33%;
        }
    }

}
