@import "../../styles/variables";

@keyframes Next {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes Previous {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

  
.on-enter {
  animation-name: Next;
  animation-duration: 0.3s;
  display: block;
}

.on-leave {
  animation-name: Previous;
  animation-duration: 0.3s;
  display: block;
}

li {
  position: relative;
  width: 14%;
  text-align: center;
  height: 46px;
  line-height: 46px;
  .circle {
    display: none;
    background: $primary;
    color: #fff;
    border-radius: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 46px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.inactive {
    opacity: 0.2;
  }
  &.current {
    color: $primary;
  }
  &.isBetween {
    color: #ef8e36;
  }
  &.selected {
    .circle {
      display: block;
    }
  }
}